<!DOCTYPE html>
<html>
<head>
    <title>Új aranyköpés</title>
</head>
<body>
    <h1>Új aranyköpés</h1>
    <ul>
        <li><a href="/">Főoldal</a></li>
        <li><a href="/new_wisecrack">Új aranyköpés</a></li>
        <li><a href="/random_wisecrack">Random aranyköpés</a></li>
        <li><a href="/latest_wisecrack">Legfrissebb aranyköpés</a></li>
    </ul>
    <form method="post">
        <textarea name="wisecrack" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Beküldés">
    </form>
</body>
</html>