<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body><h1> Regisztrációs menü:</h1>
    <hr>  
    <form method="POST">
    <p><p>{{Uzenet}}</p>
       <p>Add meg a felhasználó neved:
        <input name="felhasznalonev"></p> 
       <p>Add meg a jelszavad:
       <input name="jelszo"></p> 
       <p>Add meg a neved: <input name="nev"></p>
    </p>
    
    <a href="{{ url_for('fo_oldal')}}">Főoldal</a>
    <input type="submit", value="Mentés">
</form>
    
</body>
</html>