<!-- templates/fetch.html -->

{% extends 'base.html' %}

{% block title %}Fetch{% endblock %}

{% block content %}
    <h1>Fetch</h1>
    <p>Fetching videos...</p>
    <button id="fetchBtn">Fetch Data</button>

    <script>
        document.getElementById('fetchBtn').addEventListener('click', function () {
            var confirmResult = confirm('Do you want to drop the previous table and fetch new data?');
            if (confirmResult) {
                window.location.href = "{{ url_for('drop_and_fetch') }}";
            } else {
                window.location.href = "{{ url_for('fetch') }}";
            }
        });
    </script>
{% endblock %}
