<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Game Over{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="gif-container">
        <img id="gif" src="{{ url_for('static', filename='gifs/' + gif_name) }}" alt="Background">
    </div>
    <div class="content-container">
        <h1>Game Over</h1>
        <p>Pontszám: {{ score }}</p>
        <p>{{ message }}</p>
        <a href="{{ url_for('index') }}" class="menu-button">Vissza a főmenübe</a>
    </div>
</body>
</html>
