<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egyéni Statisztikák</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/individual.css') }}">
</head>
<body>
    <div class="background-container"></div>
    <header>
        <h1>Statisztikák: {{ session['user'] }}</h1>
    </header>
    <main>
        <ul>
            <li>Regisztráció ideje: {{ user.registration_date }}</li>
            <li>Legjobb pontszám: {{ user.best_score }}</li>
            <li>Átlag pontszám: {{ user.average_score }}</li>
            <li>Játszott meccsek száma: {{ user.games_played }}</li>
            <li>Játszott idő: {{ user.formatted_played_time() }}</li>
        </ul>
    </main>
    <img src="{{ url_for('static', filename='stats/last_10_scores_plot.png') }}" alt="Előző 10 játék eredménye">
    <!-- Egyéb tartalom, gráfok stb. -->
</body>
</html>
